dw-samples/src/main/mule/33-readingXpath.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="965f7eab-2794-4b13-ae15-519a3cd987ca" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<flow name="readingXpathFlow" doc:id="128ab7db-5218-4b75-9d4c-60e18f942414" >
		<http:listener doc:name="Listener" doc:id="32d8fbaa-83f1-43ad-8da1-e265c6aa1c3c" config-ref="HTTP_Listener_config1" path="/xpath" allowedMethods="POST"/>
		<ee:transform doc:name="Transform Message" doc:id="07e959bd-bdd9-4d29-8813-2424b9731377" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="price" ><![CDATA[%dw 2.0
output application/java
---
XmlModule::xpath('/order1/products/product/price/@pc',payload.^raw,{})
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="53b5bc16-b7e7-4af2-816c-e33b8b1e507b" message="#[vars.price]"/>
	</flow>
</mule>
