dw-samples/src/main/mule/csvStreaming.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<file:config name="File_Config" doc:name="File Config" doc:id="f3e7fa06-e6f6-4954-9cbf-e12724b8f49b" >
		<file:connection workingDir="C:\Users\Public\mulestudio-workspace\filePath\IN" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="06e9bbfd-b59a-4339-8aaf-3d793c1c5a2e" >
		<file:connection workingDir="C:\Users\Public\mulestudio-workspace\filePath\OUT" />
	</file:config>
	<flow name="dw-streamingFlow" >
  <file:read
     path="${app.home}/users.csv"
     config-ref="Read_File_Config"
     outputMimeType="application/csv; streaming=true; header=true"/>
  <ee:transform doc:name="Transform Message" doc:id="2e456f40-572e-4ce3-8cef-e87695e17435">
    <ee:message >
      <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
/*payload map ((row) -> {
*zipcode: row.zip
*})
* 
*/
payload]]></ee:set-payload>
    </ee:message>
  </ee:transform>
  <file:write doc:name="Write"
    config-ref="File_Config1"
    path="/path/to/output/file/output.json"/>
  <logger level="INFO" doc:name="Logger" message="#[payload]"/>
</flow>
	</mule>
